@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  overflow-x: hidden;
}
/*Navbar*/
.navbar {
  padding: .8rem;
}

.bg-dark {
  background-color: transparent!important;
}

@media only screen and (max-width: 767px){
  .bg-dark {
    background-color: #343a40!important;
  }
}

.navbar-nav a {
  font-family: 'Poppins';
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-dark .navbar-brand {
  font-family: 'Poppins';
  font-size: 1.3em !important;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

/*Carousel*/

.carosuel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover; 
}

.caps {
  bottom: 220px;
}

.caps h5 {
  font-size: 3.5rem;
}

.carosuel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

/*About */

.welcome {
  width: 75%;
  margin: 0 auto;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

/*Progress*/

.fa-street-view {
  color: #e54d26;
}

.fa-globe {
  color: #2163af;
}

.fa-users {
  color: #563d7c;
}

.fa-utensils {
  color: #41473b;
}

.fa-street-view, .fa-globe, .fa-users, .fa-utensils {
  font-size: 4rem;
  margin: 1rem;
}

/*Social Media Icons*/

#social-media {
  width: 100%;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 2rem;
}

#social-media ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

#social-media li {
  padding: 0 0.5em;
  display: inline-block;
  transition: all .2s ease-in-out;
  margin: 5px;
  box-sizing: border-box;
}

#social-media ul:hover li {
  opacity: 0.4;
  transition: 0.35s;
}

#social-media ul:hover li:hover {
  opacity: 1;
  transition: 0.35s;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa8;
}

.fa-youtube {
  color: #bb0000;
}

/*Footer*/

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}






/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('images/img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








